<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gallery Photo</title>

    {% load static %}

    <link rel="icon" href="{% static 'Gallery/favicon.ico' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="{% static 'Gallery/jquery-3.1.1.js' %}"></script>
    <script src="{% static 'Gallery/tether-1.3.3/js/tether.js' %}"></script>

    <link rel="stylesheet" href="{% static 'Gallery/bootstrap-4.0.0-alpha.6-dist/css/bootstrap.min.css' %}">
    <script src="{% static 'Gallery/bootstrap-4.0.0-alpha.6-dist/js/bootstrap.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'Gallery/gallery/css/base_style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'Gallery/gallery/css/index_style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'Gallery/gallery/css/gallery_photo.css' %}"/>

    <link rel="stylesheet" type="text/css" href="{% static 'Gallery/gallery/css/dashboard.css' %}"/>

    <link rel="stylesheet" href="{% static 'Gallery/jstree/themes/default/style.min.css' %}"/>
    <script src="{% static 'Gallery/jstree/jstree.min.js' %}"></script>

</head>
<body>

<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse"
            data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Gallery Photo</a>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <button class="btn btn-outline-success my-2 my-sm-0 ml-2">&lt;&lt;</button>
            </li>
            <li class="nav-item">
                <button class="btn btn-outline-success my-2 my-sm-0 ml-2">&lt;</button>
            </li>
            <li class="nav-item">
                <p class="nav-path text-white" id="navPath">...</p>
            </li>

            <li class="nav-item">
                <button class="btn btn-outline-success my-2 my-sm-0 ml-2">&gt;</button>
            </li>
            <li class="nav-item">
                <button class="btn btn-outline-success my-2 my-sm-0 ml-2">&gt;&gt;</button>
            </li>
        </ul>


        <form class="form-inline mt-2 mt-md-0" id="search">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" name="data" value="">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-sm-3 col-md-3 hidden-xs-down bg-faded sidebar">
            <div id="jstree">
            </div>
        </nav>
        <main class="offset-md-3 pt-3">
            <div class="container container-fluid ">
                <div id="dataList" class="list-group ">
                </div>
            </div>
        </main>
    </div>
</div>

</body>
<script src="{% static 'Gallery/gallery/js/photo_gallery.js' %}"></script>

<script>






</script>

</html>